#textFrame{
    position: absolute;
    top: 33%;
    left: 33%;
    resize: both;
    overflow: auto;
}

[resizable=true]{
    resize: both;
    overflow: auto;
    max-width: fit-content;
    max-height: fit-content;
}

#startButton{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#dateTimeButton{
        position: absolute;
        bottom: 0;
        left: 80%;
        right: 0;
}

#emptyTaskBar {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 0;
}
#emptyTaskBar1 {
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 0;
}

.startMenu {
    position: absolute;
    bottom: 5%;
    left: 0%;
    right: 0;
}

.startMenuExtension {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 0;
}