#textFrame{
    position: absolute;
    top: 33%;
    left: 33%;
    resize: both;
    overflow: auto;
}

[draggable=true]{
    cursor: move;
}

[resizable=true]{
    resize: both;
    overflow: auto;
}

.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    display: grid;
    gap: 50px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}